#text-header h1 span {
  color: #ff4f00;
  transition: color 1s linear;
}

.box h2{
  color: #ff4f00;
  transition: color 1s ease;
}

#education:before {
  background: linear-gradient(to bottom, #ffffff 0%,#ff4f00 7%,#ff4f00 89%,#ffffff 100%);
  transition: color 1s ease;
}

.skill-item {
  background: #ff4f00;
  transition: color 1s ease;
}

.hobby-item {
  background: #ff4f00;
  transition: color 1s ease;
}