#text-header h1 span {
    color: #ff4081;
}

.box h2{
  color: #ff4081;
}

#education:before {
  background: linear-gradient(to bottom, #ffffff 0%,#ff4081 7%,#ff4081 89%,#ffffff 100%);
}

.skill-item {
  background: #ff4081;
}

.hobby-item {
  background: #ff4081;
}